body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    padding: 10px;
    width: 30%;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 0;
}

.weather-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

.weather-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
    transition: transform 0.3s ease;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-card strong {
    font-weight: bold;
    color: #333;
}

.weather-card .temp {
    font-size: 24px;
    color: #007bff;
}

.weather-card .detalles {
    flex: 1;
    padding-left: 15px;
}

.weather-card .detalles p {
    margin: 2px 0;
}

.weather-card .icon {
    font-size: 30px;
    color: #007bff;
}

.current-weather {
    margin-bottom: 20px;
    font-size: 18px;
    color: #007bff;
}

.weather-card .toggle-detalles {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #007bff;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.extra-detalles {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
}

/* Barra de navegación */
nav {
    background-color: #333;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

nav a:hover {
    background-color: #575757;
}

.menu-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end; 
    width: 100%;
    padding-right: 20px;  
}
