<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="menu-links">
            <a href="/">Inicio</a>
            <a href="/login">Iniciar Sesion</a>  <!-- Puedes agregar más enlaces si lo deseas -->
            <a href="/registro">Registro</a> <!-- Enlace para ir al registro -->
        </div>
    </nav>

    <h2>Registrar nuevo usuario</h2>

    <form method="post">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="contraseña" placeholder="Contraseña" required>
        <button type="submit">Registrar</button>
    </form>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
</body>
</html>
